body{
    color:palevioletred;
} 
h1{
    text-align: left;
    color: brown;
    
}
textarea{
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: antiquewhite;
    resize: none;
    width: 94%;

}
div.fixed{
    bottom: 0;
    left: 0;
    position: fixed;
    background-color:rgb(238, 208, 212);
    width: 100%;
}
div.fixedhead{
    background-color:rgb(238, 208, 212);
    top: 0;
    left:0;
    position:fixed;
    width: 100%;
}
button{
    border-radius: 16px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 48px;
    width: 48px;
    background-color: brown;
    color: white;
    float:right;
}
/*img{
    border-radius: 16px;
    width: 15px;
    height: inherit;
}*/