body{
    color:palevioletred;
    margin-left: 20px;
} 
h1{
    text-align: left;
    color: brown;
    
}
textarea{
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: antiquewhite;
    resize: none;
    width: 94%;

}
div.fixed{
    bottom: 0;
    left: 0;
    position: fixed;
    background-color:pink;
    width: 100%;
    padding: top 1px;
}
div.fixedhead{
    background-color:pink;
    top: 0;
    left:0;
    position:fixed;
    width:100%;

}
button{
    border-radius: 16px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 48px;
    width: 48px;
    background-color: brown;
    color: white;
    float:right;
    padding: left 0px;
}
img{ 
    border-radius: 16px;
    width: 30px;
    height: inherit;
 }